body {
  margin: 0;
  padding: 0;
}

#header {
  padding-left: 10px;
  text-align: center;
  background-color: #f0f0f0;
}


#header img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

#header h1 {
  text-align: center;
  display: inline-block;
  background-color: red;
}

#menu {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
}

#menu a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  padding: 8px 12px;
}


#menu a:hover {
  background-color: #575757;
  border-radius: 4px;
}

#menu a:active {
  background-color: #4CAF50;
  color: white;
}

#container{
  display: flex;
  padding: 30px;
}
#frame1 {
  width: 25vw;
  height: 100vh;
  background-color: #4CAF50;
}

#frame2 {
  width: 70vw;
  height: 100vh;
  background-color: antiquewhite;
}

iframe{
  height: 100%;
  width: 100%;
}